#citySearch {
    margin: 8px;
}

nav {
    margin-bottom: 8rem;
}

/* UV Index Color Code. Green=OK, Orange=Med, Red=Severe */
.green {
    background-color:green;
    color: white;
    margin-left: 20px;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
}

.orange {
  background-color: orange;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
}

.red {
  background-color: red;
  color: white;
  margin-left: 20px;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
}